{% extends "base.html" %}

{% block header %}<h1>Board Game Club</h1>{% endblock %}

{% block content %}
<main>
  <section>
    <h2 class="update-hide section-header">About</h2>
    <p class="update-hide">{{ club.about if club.about != None }}</p>
    {% if owner %}
    <form class="ajax-form hidden">
      <input type="hidden" name="url" value="{{ url_for('club_') }}">
      <input type="hidden" name="redirect" value="{{ url_for('home') }}">
      <input type="hidden" name="method" value="PATCH">
      <input type="hidden" name="type" value="club">
      <input type="hidden" name="id" value=1>
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      <input type="hidden" name="picture" value="">
      <label for="about">About</label><br>
      <textarea id="about" name="about" placeholder="Few words about the club..." rows="10" cols="100">{{ club.about if club.about != None }}</textarea><br>
      <input type="submit" value="Submit changes" class="small-button">
    </form>
    <button value="Edit" onclick="updateToggle(this)" class="small-button">Edit</button>
    {% endif %}
  </section>
  <section>
    <h2 class="section-header">Posts</h2>
    {%  for post in posts %}
    <div class="post">
      <h3 class="update-hide-great-uncle">{{ post['subject'] }}</h3>
      <div class="update-hide-great-uncle">{{ post['body'] }}</div>
      <div class="post-stamp-box">
        <div>
        {% if post['owner'] %}
          <form class="ajax-form hidden">
            <input type="hidden" name="url" value="{{ url_for('post_', post_id=post['id']) }}">
            <input type="hidden" name="redirect" value="{{ url_for('home') }}">
            <input type="hidden" name="method" value="PATCH">
            <input type="hidden" name="type" value="post">
            <input type="hidden" name="id" value="{{ post['id'] }}">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            <label for="body-{{ post['id'] }}">{{ post['subject'] }}</label><br><br>
            <textarea id="body-{{ post['id'] }}" name="body" rows="10" cols="100" class="full-width">{{ post['body'] }}</textarea><br>
            <input type="submit" value="Submit changes" class="small-button">
          </form>
          <button value="Edit" onclick="updateToggle(this)" class="small-button">Edit</button>
          <form class="ajax-form inline-block-form">
            <input type="hidden" name="url" value="{{ url_for('post_', post_id=post['id']) }}">
            <input type="hidden" name="redirect" value="{{ url_for('home') }}">
            <input type="hidden" name="method" value="DELETE">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            <input type="submit" value="Delete" class="small-button">
          </form>
        {% endif %}
        </div>
        <div class="post-stamp update-hide-uncle">
          <img src="{{ post['author_picture'] }}" alt="Profile picture">
          <div>
            {{ post['author'] }}<br>
            {{ post['posted'] }} (UTC)
            {% if post['edited'] %}
              <br>Edited {{ post['edited']}}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <br>
    {% endfor %}
    {% if session.user_id %}
    <a href="{{ url_for('post_add') }}" class="big-button color-button">Add new post</a>
    {% endif %}
  </section>
  <section>
    <h2 class="section-header">Members</h2>
    <ul class="section-list">
      {% for member in members %}
      <li><a href="{{ url_for('profile_', user_id=member.id) }}">{{ member.name }}</a></li>
      {% endfor %}
    </ul>
  </section>
  <section>
    <h2 class="section-header">Club's games</h2>
    {% if owner %}
    <form action="{{ url_for('club_game_add') }}" method="get" name="add-game" onsubmit="return validateForm()">
      <input type=text name="name" value="">
      <input type="submit" value="Add game" class="small-button">
    </form >
    <script>
      function validateForm(){
        // Validate add-game form
        var game_name = document.forms["add-game"]["name"].value;
        if (!game_name){
          alert("Game's name is required");
          return false;
        }
      }
    </script>
    {% endif %}
    {% with club_table=True %}
      {% include "games-table.html" %}
    {% endwith %}
  </section>
</main>
<script>
  // Change styling of the link to this page in the navigation bar
  $('#nav-home').addClass('nav-active')
</script>

{% endblock %}
