{% extends "base.html" %}
{% block content %}

<header>
  <h1>Board game club</h1>
  <h2>Game finder</h2>
</header>
<main>
  <table>
    <form name="game-finder-form" onsubmit="return validateForm()" method="get">
    <tr>
      <th rowspan="2">Name</th>
      <th rowspan="2">Category</th>
      <th rowspan="2">Minimum Rating</th>
      <th colspan="2">Players*</th>
      <th colspan="2">Playing time</th>
      <th colspan="2">Complexity</th>
    </tr>
    <tr>
      <th>from</th>
      <th>to</th>
      <th>from</th>
      <th>to</th>
      <th>min</th>
      <th>max</th>
    </tr>
    <tr>
      <td><input type=text name="name"></td>
      <td>
        <select name="category">
          <option value="any">Any</option>
          {% for category in all_categories %}
          <option value={{category.id}}>{{category.name}}</option>
          {% endfor %}
        </select>
      </td>
      <td><input type="number" step="1" min="1" max="10" name="rating-min"></td>
      <td><input type="number" step="1" min="1" name="players-from"></td>
      <td><input type="number" step="1" min="1" name="players-to"></td>
      <td><input type="number" step="1" min="1" name="time-from"></td>
      <td><input type="number" step="1" min="1" name="time-to"></td>
      <td>
        <select name="weight-min">
          <option value="1">Light (1)</option>
          <option value="2">Medium Light (2)</option>
          <option value="3">Medium (3)</option>
          <option value="4">Medium Heavy (4)</option>
          <option value="5">Heavy (5)</option>
        </select>
      </td>
      <td>
        <select name="weight-max">
          <option value="1">Light (1)</option>
          <option value="2">Medium Light (2)</option>
          <option value="3">Medium (3)</option>
          <option value="4">Medium Heavy (4)</option>
          <option value="5" selected="selected">Heavy (5)</option>
        </select>
      </td>
      <td><input type="submit" value="Search"></td>
    </tr>
    </form>
    {% for game in games %}
    <tr>
      <td>{{ game.name }}</td>
      <td>
        {% for category in  categories[game.id|string()] %}
        {{ category }}
        {% endfor %}
      </td>
      <td>{{ game.bgg_rating }}</td>
      <td>{{ game.min_players }}</td>
      <td>{{ game.max_players }}</td>
      <td>{{ game.min_playtime }}</td>
      <td>{{ game.max_playtime }}</td>
      <td colspan="2">{{ game.weight }}</td>
    </tr>
    {% endfor %}
  </table>
  <p>
    *Only games playable for all the specified numbers of players will appear
     in the results
  </p>
  <script>
    function validateForm(){
      var p_from = document.forms["game-finder-form"]["players-from"].value;
      var p_to = document.forms["game-finder-form"]["players-to"].value;
      var t_from = document.forms["game-finder-form"]["time-from"].value;
      var t_to = document.forms["game-finder-form"]["time-to"].value;
      if ((p_from && !p_to) || (!p_from && p_to)){
        alert("'Players to' and 'Players from' fields must either be both blank or both filled");
        return false;
      }
      if (p_from > p_to) {
        alert("'Players to' must be greater or equal to 'Players from'");
        return false;
      }
      if (t_from > t_to) {
        alert("'Playing time to' must be greater or equal to 'Playing time from'");
        return false;
      }
    }
  </script>
</main>
{% endblock %}
