{% extends "base.html" %}
{% block content %}
<header>
  <h1>Board game club</h1>
  <h2>{{ game.name }}</h2>
</header>
<main>
  <figure>
    <img src="{{ game.image }}" alt="{{ game.name }}" width=25%>
    <figcaption>Image and game info by <a href="{{ game.bgg_link }}">BoardGameGeek</a></figcaption>
  </figure>
  <h1>{{ game.name }} ({{ game.year_published }})</h1>
  <div>{{ game.bgg_rating|round(2) }}</div>
  {% for i in range(10) %}
  <span class="fa fa-star checked"></span>
  {% endfor %}
  <!-- TODO: <p>Owned by:  game.owned'] </p> -->
  <ul>
    <li>Players: {{ game.min_players }} - {{ game.max_players }}</li>
    <li>
      {% if game.min_playtime == game.max_playtime %}
        Playing time: {{ game.min_playtime }}min
      {% else %}
        Playing time: {{ game.min_playtime }} - {{ game.max_playtime }}min
      {% endif %}
    </li>
    <li>Age: {{ game.min_age }}+</li>
    <li>Complexity: {{ game.weight|round(2) }}/5</li>
    <li>
      Category:
      {% for category in categories %}
      {{ category }}
      {% endfor %}
    </li>
  </ul>
  <form method="post">
    <input type="submit" value="Update game info">
  </form>

</main>
{% endblock %}
