{% extends "base.html" %}
{% block content %}

<header>
  <h1>Board game club</h1>
  <h2>New post</h2>
</header>
<main>
<form name ="new-post" method="post" onsubmit="return validateForm()">
  <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
  <label for="subject">Subject</label><br>
  <input type="text" id="subject" name="subject"><br>
  <label for="body">Post</label><br>
  <textarea name="body" rows="4" cols="50"></textarea><br>
  <input type="submit" value="Submit">
</form>
<a href="{{ url_for('home') }}">Cancel</a>
</main>

<script>
  function validateForm(){
    var post_subject = document.forms["new-post"]["subject"].value;
    var post_body = document.forms["new-post"]["body"].value;
    if (!post_subject || !post_body){
      alert("Both subject and body of the post are required");
      return false;
    }
  }
</script>

{% endblock %}
