{% extends "base.html" %}
{% block content %}

<header>
  <h1>Board game club</h1>
  <h2>{{ user.name }}</h2>
</header>
<main>
  <img src="{{ user.picture if user.picture != None }}" alt="Profile picture" width=25%>
  <p>{{ user.about if user.about != None }}</p>
  <a href="{{ url_for('edit_profile', user_id=user.id) }}">Edit</a>
  <a href="{{ url_for('delete_profile', user_id=user.id) }}" onclick="return confirm('Are you sure you want to delete your account?');">Delete account</a>
  <p>Owned games</p>
  <table>
    <tr>
      <th>Game</th>
      <th>Players</th>
      <th>Playing time</th>
      <th>Complexity</th>
      <th>Category</th>
      <th>User Rating</th>
      <th>Community Rating</th>
    </tr>
    {% for game in games %}
    <tr>
      <td>{{ game['name'] }}</td>
      <td>{{ game['players_min'] }}</td>
      <td>{{ game['time_min'] }} min</td>
      <td>{{ game['weight'] }}</td>
      <td>{{ game['category'][0] }}</td>
      <td>{{ user['games'][game['name']] }}</td>
      <td>{{ game['rating'] }}</td>
      <td><a href="">Delete</a><td>
    </tr>
    {% endfor %}
  </table>
  <form action="{{url_for('new_game')}}" method="get">
    <input type=text name="name" value="">
    <input type="submit" value="Add game">
  </form >
</main>
{% endblock %}
