{% extends "base.html" %}
{% block content %}

<header>
  <h1>Board game club</h1>
  <h2>{{ user.name }}</h2>
</header>
<main>
  <div class="update-hide">
    <img src="{{ user.picture if user.picture != None }}" alt="Profile picture" width=25%>
    <p>{{ user.about if user.about != None }}</p>
  </div>
  <form class="ajax-form hidden">
    <input type="hidden" name="url" value="{{ url_for('profile_', user_id=user.id) }}">
    <input type="hidden" name="redirect" value="{{ url_for('profile_', user_id=user.id) }}">
    <input type="hidden" name="method" value="PATCH">
    <input type="hidden" name="type" value="user">
    <input type="hidden" name="id" value="{{ user.id }}">
    <label for="username">Name:</label>
    <input type="text" id="username" name="name" value="{{ user.name }}"><br>
    <img src="{{ user.picture if user.picture != None }}" alt="Profile picture" width=25%><br>
    <label for="profile-picture">URL of the profile picture</label>
    <input type="text" name="picture" value="{{ user.picture }}"><br><br>
    <textarea name="about" placeholder="Describe yourself here..." rows="4" cols="50">
      {{ user.about if user.about != None }}
    </textarea><br>
    <input type="submit" value="Edit profile">
  </form>
  <button value="Edit" onclick="updateToggle(this)">Edit</button>

  <form class="ajax-form" onclick="return confirm('Are you sure you want to delete your account?')">
    <input type="hidden" name="url" value="{{ url_for('profile_', user_id=user.id) }}">
    <input type="hidden" name="redirect" value="{{ url_for('g_disconnect') }}">
    <input type="hidden" name="method" value="DELETE">
    <input type="submit" value="Delete account">
  </form>
  <p>Owned games</p>
  <table>
    <tr>
      <th>Game</th>
      <th>Players</th>
      <th>Playing time</th>
      <th>Complexity</th>
      <th>Category</th>
      <th>User Rating</th>
      <th>BGG Rating</th>
    </tr>
    {% for game in games %}
    <tr>
      <td><a href="{{ url_for('game_', game_id=game.id) }}">{{ game.name }}</a></td>
      <td>{{ game.min_players }}-{{ game.max_players }}</td>
      <td>
        {% if game.min_playtime == game.max_playtime %}
          {{ game.min_playtime }}min
        {% else %}
          {{ game.min_playtime }} - {{ game.max_playtime }}min
        {% endif %}
      </td>
      <td>{{ game.weight }}</td>
      <td>
        {% for category in  categories[game.id|string()] %}
          {{ category }}
        {% endfor %}
      </td>
      <td></td>
      <td>{{ game.bgg_rating }}</td>
      <td>
        <form class="ajax-form">
          <input type="hidden" name="url" value="{{ url_for('profile_game_', user_id=user.id, game_id=game.id) }}">
          <input type="hidden" name="redirect" value="{{ url_for('profile_', user_id=user.id) }}">
          <input type="hidden" name="method" value="DELETE">
          <input type="submit" value="Delete">
        </form>
      <td>
    </tr>
    {% endfor %}
  </table>
  <form action="{{ url_for('profile_game_add', user_id=user.id) }}" method="get">
    <input type=text name="name" value="">
    <input type="submit" value="Add game">
  </form >
</main>

{% endblock %}
