{% extends "base.html" %}
{% block content %}

<header>
  <h1>Board game club</h1>
  <h2>{{ user.name }}</h2>
</header>
<main>
  <img src="{{ user.picture if user.picture != None }}" alt="Profile picture" width=25%>
  <p>{{ user.about if user.about != None }}</p>
  <a href="{{ url_for('edit_profile', user_id=user.id) }}">Edit</a>
  <a href="{{ url_for('delete_profile', user_id=user.id) }}" onclick="return confirm('Are you sure you want to delete your account?');">Delete account</a>
  <p>Owned games</p>
  <table>
    <tr>
      <th>Game</th>
      <th>Players</th>
      <th>Playing time</th>
      <th>Complexity</th>
      <th>Category</th>
      <th>User Rating</th>
      <th>BGG Rating</th>
    </tr>
    {% for game in games %}
    <tr>
      <td><a href="{{ url_for('game', game_id=game.id) }}">{{ game.name }}</a></td>
      <td>{{ game.min_players }}-{{ game.max_players }}</td>
      <td>
        {% if game.min_playtime == game.max_playtime %}
          {{ game.min_playtime }}min
        {% else %}
          {{ game.min_playtime }} - {{ game.max_playtime }}min
        {% endif %}
      </td>
      <td>{{ game.weight }}</td>
      <td>
        {% for category in  categories[game.id|string()] %}
          {{ category }}
        {% endfor %}
      </td>
      <td></td>
      <td>{{ game.bgg_rating }}</td>
      <td><a href="{{ url_for('profile_game_delete', user_id=user.id, game_id=game.id) }}">Delete</a><td>
    </tr>
    {% endfor %}
  </table>
  <form action="{{ url_for('profile_game_add', user_id=user.id) }}" method="get">
    <input type=text name="name" value="">
    <input type="submit" value="Add game">
  </form >
</main>
{% endblock %}
