<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="https://apis.google.com/js/client:platform.js?onload=iniGAuth" async defer></script>
  <script>
    // Initialize googleAuth object
    function iniGAuth() {
      console.log('Initalizing googleAuth object')
      gapi.load('auth2', function() {
        auth2 = gapi.auth2.init({
          client_id: '956019190263-o6a7gusm85fhipgr316rtq2ck41dj7ht.apps.googleusercontent.com',
        });
      });
     }
   </script>
   <style>
     .signin-button {
       width: 181px;
       height: 46px;
       background-color: white;
       border: 0;
       background-image: url('{{url_for('static', filename='btn_google_signin_dark_normal_web@2x.png')}}');
       background-size: 100% 100%;
     }
   </style>
</head>
<body>
  <button id="signinButton" class="signin-button"></button>
  <div id="login-msg"></div>
  <script>
    // On click open the google login window
    // On successful login, pass authResult to the specified function
    $('#signinButton').click(function() {
      auth2.grantOfflineAccess().then(signInCallback);
    });
  </script>
  <script>
    function signInCallback(authResult) {
      if (authResult['code']) {
        $('#signinButton').attr('style', 'display: none');
        // Send the one-time code to the server
        console.log('Sending one-time code to the server...')
        $.ajax({
          type: 'POST',
          url: 'http://localhost:5000/gconnect',
          contentType: 'application/json',
          success: function(info) {
            $('#login-msg').html('Login successful! <br> Hello ' + info.username + '<br> Redirecting...');
            if (info.new_user) {
              setTimeout(function(){window.location.href='/users/{}/new'.replace('{}', info.user_id);}, 2000);
            } else {
              setTimeout(function(){window.location.href='/users/{}'.replace('{}', info.user_id);}, 2000);
            }
          },
          error: function(jqXHR, textStatus, errorThrown){
            $('#login-msg').html('Unsuccessful sign-in');
            console.log($.parseJSON(jqXHR.responseText)['error-msg']);
          },
          processData: false,
          data: JSON.stringify({
            "_csrf_token": "{{ csrf_token() }}",
            "auth_code": authResult['code']
          })

        });
      } else {
        console.log('One-time code missing in authResult');
      }
    }
  </script>
</body>
</html>
