{% extends "base.html" %}

{% block header %}<h1>New post</h1>{% endblock %}

{% block content %}

<main>
  <section>
    <form name ="new-post" method="post" onsubmit="return validateForm()">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      <label for="subject">Subject</label><br>
      <input type="text" id="subject" name="subject" size="100"><br><br>
      <label for="body">Post</label><br>
      <textarea name="body" rows="10" cols="100"></textarea><br>
      <input type="submit" value="Submit" class="small-button">
    </form>
    <a href="{{ url_for('home') }}" class="small-button">Cancel</a>
  </section>
</main>

<script>
  function validateForm(){
    // Validate new-post form
    var post_subject = document.forms["new-post"]["subject"].value;
    var post_body = document.forms["new-post"]["body"].value;
    if (!post_subject || !post_body){
      alert("Both subject and body of the post are required");
      return false;
    }
  }
</script>

{% endblock %}
