table {
    border-collapse: collapse;
    width: 60%;
}

table, th, td {
    border: 1px solid black;
}

.hidden {
  display:none;
}

.signin-button {
       width: 181px;
       height: 46px;
       background-color: white;
       border: 0;
       background-image: url("../static/btn_google_signin_dark_normal_web@2x.png");
       background-size: 100% 100%;
     }
